<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://t2.tudocdn.net/615875?w=646&h=284"
      cardTitle="Android 13 terá função que monitora saúde da bateria dos aparelhos"
      cardDescription="O Google lançou a versão beta da primeira atualização trimestral do Android 13, e embora tenha foco em melhorar a estabilidade do sistema operacional, há uma variedade de novos recursos que devem chegar aos aparelhos elegíveis."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="iOS 16 chegou! Conheça 8 novidades que vão mudar seu iPhone"
      photoCover="https://conteudo.imguol.com.br/c/noticias/74/2022/06/06/telas-do-novo-ios-16-1654541353914_v2_900x506.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Galaxy Z Fold 4 é mais prático, potente e gigante; mas serve para quem?"
      photoCover="https://conteudo.imguol.com.br/c/noticias/01/2022/08/09/celular-dobravel-galaxy-z-fold-4-aberto-1660088227450_v2_900x506.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="4"
      cardTitle="DJI lança câmera Osmo Action 3 com vídeos em 4K a 120 fps e mais bateria"
      photoCover="https://t.ctcdn.com.br/uCd85RWSV6uCFuMLQexJQlhuHAo=/720x405/smart/filters:format(webp)/i631363.png"
    >
    </app-small-card>
  </div>
</div>
